{% extends 'AppBundle::base.html.twig' %}

{% block header %}

{% endblock %}

{% block body %}
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{{ asset('img/banners/banner1.jpg') }}" class="img-responsive">
                <div class="carousel-caption">
                    <div class="banner-gallery-text-1"> Школа бальных танцев</div>
                    <div class="banner-gallery-text-2"> проводит обучение взрослых с нулевого уровня</div>
                    <div>
                        <a href="https://goo.gl/forms/yQtk66UWfgC50wd03" target="_blank">
                            <button class="from-top-187">Записаться</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset('img/banners/banner2.jpg') }}" class="img-responsive">
                <div class="carousel-caption">

                    <div class="banner-gallery-text-1"> Школа бальных танцев</div>
                    <div class="banner-gallery-text-2"> объявляет набор в группу начинающих и в группу продолжающих</div>
                    <div>
                        <a href="https://goo.gl/forms/yQtk66UWfgC50wd03" target="_blank">
                            <button class="from-top-25">Записаться</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container from-top-50 link-robert link-program">
        <div class="row description-container">
            <div class="col-md-4 col-sm-12 text-right" style="padding-left: 0">
                <img src="{{ asset('img/robert.png') }}" class="img-responsive robert" alt="Robert Trapsh">
            </div>
            <div class="col-md-8 col-sm-12 text-right paragraf">
                <p class="button">Хореограф</p>
                <p class="banner-text-1">Роберт Трапш</p>
                <p>Трапш Роберт Робертович. Преподаватель спортивных и классических бальных танцев, балетмейтер,
                    хореограф, основатель и руководитель Школы бальных танцев "Андеор",
                    художественный руководитель ансамбля отечественных бальных
                    танцев "Андеор", лауреат городских конкурсов по отечественным бальным танцам. Занимается
                    преподавательской деятельностью с 2009 года.
                </p>
                <div class="row from-top-50 text-left">
                    <div class="col-sm-12">
                        <button id="btn-1">Программа обучения</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container from-top-50" id="programm">
        <div class="row">
            <div class="col-sm-12 col-md-12 text-center">
                <p class="banner-text-1 text-center">Программа обучения</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <p class="button">Отечественные бальные танцы</p>
                </div>
                <div class="row">
                    <ul class="programm">
                        <li>Большой фигурный вальс</li>
                        <li>Венгерский-бальный танец</li>
                        <li>Полонез-мазурка</li>
                        <li>Фигурный вальс</li>
                        <li>Русский бальный танец</li>
                        <li>Русский лирический танец</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <p class="button">Европейская программа</p>
                </div>
                <div class="row">
                    <ul class="programm">
                        <li>Венский вальс</li>
                        <li>Танго</li>
                        <li>Медленный вальс</li>
                        <li>Квикстеп</li>
                        <li>Медленнный фокстрот</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <p class="button">Латиноамериканская программа</p>
                </div>
                <div class="row">
                    <ul class="programm">
                        <li>Ча-ча-ча</li>
                        <li>Самба</li>
                        <li>Румба</li>
                        <li>Джайв</li>
                        <li>Пасадобль</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="carousel-example-generic2" class="carousel slide from-top-50 link-projects" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{{ asset('img/banners/shtiglitsa.jpg') }}" alt="..." class="img-responsive">
                <div class="carousel-caption">
                    <div class="banner-gallery-text-1" style="padding-bottom: 10px"> Школа бальных танцев</div>
                    <div style="padding-bottom: 5px; line-height: 30px">
                        <span class="banner-gallery-text-2"> в </span>
                        <span class="banner-gallery-text-4"> СПГХПА им. А.Л. Штиглица </span>
                    </div>
                    <div class="banner-gallery-text-1" style="padding-bottom: 10px"> Соляной пер., 13</div>
                    <div>
                        <a href="https://vk.com/ghpadance" target="_blank" class="">
                            <button class="from-top-25">Подробнее</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset('img/banners/gercena.png') }}" alt="..." class="img-responsive">
                <div class="carousel-caption">
                    <div class="banner-gallery-text-1" style="padding-bottom: 10px"> Школа бальных танцев</div>
                    <div style="padding-bottom: 5px; line-height: 30px">
                        <span class="banner-gallery-text-2"> в </span>
                        <span class="banner-gallery-text-4"> РГПУ им. А.И. Герцена</span>
                    </div>
                    <div class="banner-gallery-text-1" style="padding-bottom: 10px"> наб. реки Мойки, д. 48</div>
                    <div>
                        <a href="https://vk.com/rgpudance" target="_blank" class="from-top-50">
                            <button class="from-top-25">Подробнее</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="social">
        <a href="https://www.instagram.com/roberttrapsh/"><img src="{{ asset('img/instagram.png') }}"
                                                               class="img-responcive opacity"></a>
        <a href="https://vk.com/socialballet"><img src="{{ asset('img/vk.png') }}" class="img-responcive opacity"></a>
        <a href="#"><img src="{{ asset('img/youtube.png') }}" class="img-responcive opacity"></a>
    </div>


    <div class="container from-top-50 link-andeor">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-right">
                <img src="{{ asset('img/banners/andeor.jpg') }}" class="img-responsive" alt="andeor">

            </div>
            <div class="col-md-6 col-sm-12 text-right paragraf">
                <p class="button">Ансамбль</p>
                <p class="banner-text-1">Андеор</p>
                <p>Ансамбль отечественных бальных танцев "Андеор" начал свою творческую деятельность в 2016
                    году под руководством Трапша Роберта Робертовича. Коллектив принимает активное участие в
                    культурной жизни Санкт-Петербурга и Ленинградкой Области: выступает на городских мероприятиях,
                    фестивалях, концертах, танцевальных вечерах, проводят мастер-классы по отечественным бальным
                    танцам, танцоры коллектива являются постоянными участниками городских балов, конкурсов по
                    отечественным и спортивным бальным танцам.</p>


                <!-- <p>Коллектив ансамбля "Андеор" - это студенты ВУЗов Санкт-Петербурга и молодые специалисты, когда-то они пришли, чтобы научиться танцевать и добились отличного результата, сегодня они - настоящий пример возрождения отечественного бального танцевального искусства в Санкт-Петербурге и всей России.</p>-->

                <div class="row from-top-50 text-left">
                    <div class="col-md-6">
                        <a href="https://vk.com/endehors" target="_blank" class="from-top-50">
                            <button>Подробнее</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="raspisanie from-top-50 link-schedule">
        <div class="container middle">
            <div class="row">
                <div class="col-md-12 text-center inline">
                    <hr class="yellow inline">
                    <p class="yellow-text inline">Танцуй вместе с нами</p>
                    <hr class="yellow inline">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="raspisanie-text">РАСПИСАНИЕ ЗАНЯТИЙ</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button id="btn-2">Открыть</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container from-top-50" id="raspisanie">
        <div class="schedule">
            <div class="schedule-row"> <!-- ROW -->
                <div class="schedule-column column-width">
                    <!-- Empty -->
                </div>
                <div class="schedule-column column-width">
                    <p class="button noleft">Школа бального танца Штиглица</p>
                    <p class="noleft"> ул. Чайковского, 3</p>
                </div>
                <div class="schedule-column column-width">
                    <p class="button noleft">Школа бального танца Андеор</p>
                    <p class="noleft"> Московский пр., 9</p>
                </div>
                <div class="schedule-column column-width">
                    <p class="button noleft">Школа бального танца Герцена</p>
                    <p class="noleft"> Лиговский пр., 3</p>
                </div>
            </div>
            <div class="schedule-row"> <!-- ROW -->
                <div class="schedule-column column-width">
                    <p class="button">
                        Вторник
                    </p>
                </div>
                <div class="schedule-column column-width">

                </div>
                <div class="schedule-column column-width">

                </div>
                <div class="schedule-column column-width">
                    <p class="yellow-text noleft">18:00 - 20:00</p>
                    <p class="noleft"> Группа начинающих</p>
                </div>
            </div>
            <div class="schedule-row"> <!-- ROW -->
                <div class="schedule-column column-width">
                    <p class="button">
                        Суббота
                    </p>
                </div>
                <div class="schedule-column column-width">
                    <p class="yellow-text noleft">19:00 - 21:00</p>
                    <p class="noleft"> Группа продолжающих</p>
                </div>
                <div class="schedule-column column-width">

                </div>
                <div class="schedule-column column-width">
                    <p class="yellow-text noleft">11:00 - 13:00</p>
                    <p class="noleft"> Группа начинающих</p>
                </div>
            </div>
            <div class="schedule-row"> <!-- ROW -->
                <div class="schedule-column column-width">
                    <p class="button">
                        Воскресенье
                    </p>
                </div>
                <div class="schedule-column column-width">
                    <p class="yellow-text noleft">17:00 - 19:00</p>
                    <p class="noleft"> Группа продолжающих</p>
                </div>
                <div class="schedule-column column-width">
                    <p class="yellow-text noleft">19:00 - 21:00</p>
                    <p class="noleft"> Группа начинающих</p>
                </div>
                <div class="schedule-column column-width">

                </div>
            </div>
        </div>
    </div>


    <div class="container from-top-50 link-reviews">
        <div class="row">
            <div class="col-md-4 col-sm-12 text-right">
                <img src="{{ asset('img/banners/fotootzivi.png') }}" class="img-responsive" alt="feedback">
            </div>
            <div class="col-md-8 col-sm-12 text-right paragraf">
                <div class="row">
                    <div id="carousel-example-generic3" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Юлия Хаитова</p>
                                    <p class="review">
                                        Роберт Робертович - отличный преподаватель, настоящий профессионал своего дела. Он одинаково внимательно относится ко всем ученикам, а ходить на его занятия - одно удовольствие. Во время занятий в зале всегда царит дружеская атмосфера, которая заряжает позитивом и энергией. И в то же время, во время каждого занятия, благодаря Роберту можно открыть для себя что-то новое в танце.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Анна Кичигина</p>
                                    <p class="review">
                                        Роберт, Вы замечательный педагог и танцор, обладающий вдохновением и радостью в душе, несгибаемой энергией, необычными творческими идеями, добрыми эмоциями!
                                        <br>Анна Кичигина.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Бежан Виктор, Сидорова Алена</p>
                                    <p class="review">
                                        Его призвание педагог от Бога.
                                        <br>
                                        Роберт – человек невероятной энергии, вдохновленный танцами. Его занятия очень интенсивные уже с первых минут, и время пролетает незаметно! После занятий на душе чувство удовлетворения от проделанной работы - ведь столько танцевали и многому научились.
                                        <br>
                                        Для него очень важно привлечь к этому искусству как можно больше людей. И это прекрасно ему удается, ведь Роберт не просто профессиональный танцор, но и прекрасный педагог, любящий и уважающий своих учеников.
                                        <br>
                                        Он находит подход к каждому, помогая совершенствовать навыки и учиться чему-то новому. Очень важно, что Роберт никогда не жалеет сил и времени на свою «танцевальную семью».
                                        <br>
                                        Творческий, талантливый, общительный, открытый, позитивный – именно таким мы его знаем.
                                        <br>
                                        Роберт, мы вас любим!!!
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Андрей Губин</p>
                                    <p class="review">
                                        Роберт Трапш - опытный педагог по бальным танцам, который с вниманием относится ко всем участникам занятий. Профессионал своего дела, с большим знанием танцев и их истории.
                                        <br>
                                        Под его руководством все начинают танцевать с первых уроков, а на занятиях дружеская и спокойная атмосфера, которая сочетает и информативную часть и ту, где педагог может рассказать какую-то историю и повеселить людей, пришедших на занятие
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Даниил Красноперов</p>
                                    <p class="review">
                                        Роберт настоящий профессионал в своем деле. Объясняет и показывает всегда четко, доступно и интересно. При работа в группе всегда оказывает свое наставническое внимание каждому, если что то не получается подскажет как исправить. Очень рекомендую, хороший Преподаватель!
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Мария Макаренко</p>
                                    <p class="review">
                                        В Андеор я пришла сравнительно недавно, в начале 2016 учебного года. И никогда бы не подумала, что смогу за такой короткий срок научиться очень многому! Знания, полученные в "ШБТ Андеор", помогли раскрыть себя гораздо шире, почувствовать себя уверенней, привнесли в душу и мысли только позитивные эмоции, которые помогают каждый день делать ярче, несмотря на кажущуюся серость и нервозность вокруг. За 1,5 года выучила столько разных танцев и цепочек, что теперь без труда могу участвовать в различных балах и танцевальных вечерах, как в зале, так и под открытым небом! А сколько новых друзей и товарищей я обрела - не передать словами! На КАЖДОМ занятии я узнаю или открываю для себя что-то новое, даже в тех танцах, которые, казалось бы, знаю хорошо!
                                        <br>
                                        Думаю, что в "ШБТ Андеор" каждый сможет найти то, чего ему не хватает, а также окунуться в мир музыки, танца, теплой и дружеской атмосферы! Ведь все танцоры - одна большая семья!
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Таулан Лепшаков</p>
                                    <p class="review">
                                        Если честно-прекрасный преподаватель!)
                                        <br>
                                        Именно таким и должен быть бальник!
                                        <br>
                                        Воспитанный, вежливый, обращает внимание на каждого, но требует соответствие изучаемым стилям!
                                        <br>
                                        Изучаем долго, но именно то, что заявлено!
                                        <br>
                                        Это ценно, говорю как уличник.
                                        <br>
                                        У нас много стилей одного танца, у бальников есть похожие проблемы, но ученикам Роберта не о чем волноваться.
                                        <br>
                                        Он будет заставлять отрабатывать базу пока не получится приближение к стилю!
                                        <br>
                                        Ну а про антураж на его мероприятиях можно и не упоминать)
                                        <br>
                                        Удивительная атмосфера и отношение как к участиникам, так и к зрителям!)
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Юрий Карабанов</p>
                                    <p class="review">
                                        Сказать по правде, отзывы писать не люблю, да и не умею. Но здесь не смог удержаться. Прошел ровно один год с тех пор, как я впервые пришел на занятия. Вначале было крайне тяжко, но в то же время, благодаря нескончаемому энтузиазму Роберта, все занятия проходят непринужденно, даже можно сказать весело и, главное, интересно! Даже если прийти уставшим или сонным, с плохим настроением или просто никаким, в конце занятия обязательно уходишь отдохнувшим (больше конечно в эмоциональном плане), с отличным настроением и некоторым сожалением, что занятие окончено.
                                        <br>
                                        Стоит отметить, что программа Роберта действительно дает возможность научиться танцевать любому, у кого есть желание и немного времени. Практически каждое занятие - новый танец. А самым приятным результатом занятий становятся балы, причем не только те, что проходят под руководством Академии, но и те, на которые можно попасть в Петербурге (например, Губернаторский)
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Алексей Александров</p>
                                    <p class="review">
                                        Занятия у Роберта проходят интенсивно. С самого начала занятий новой группы Роберт дает максимальный охват по разным мелодиям и танцевальным ритмам. Начинаются занятия с вальса и ритмического фокстрота, практически сразу добавляются танцы отечественной бальной программы. Уже через 4 занятия добавляется танец латино-американской программы с совершенно другим темпераментом - ча-ча-ча . Танцы отечественной программы на занятиях у Роберта занимают особое место. Сам он очень хорошо их танцует и старается передать каждую мелочь , каждую деталь танца ученикам. Они хороши тем что последовательность движений танца всегда одинаковая и можно танцевать с любым партнером из любой школы танцев. Преподаватель танцев должен не только хорошо танцевать, но быть увлеченным танцами, всегда познавать что-то новое и передавать это ученикам. Роберт именно такой, для него танцы это жизнь. Роберту ничего не стоит утром в выходной день провести 3-х часовую тренировку, а потом еще две тренировки вечером по два часа. Он полон энергии и передает ее обучающимся.
                                        <br>
                                        Несколько раз в году Роберт проводит балы. Программы балов разнообразные включающие разные танцы, игры, конкурсы. После такого мероприятия остается незабываемое впечатление.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Диана Шандригось</p>
                                    <p class="review">
                                        Танцевальные занятия у Роберта меня удивили своей в хорошем смысле интенсивностью (за короткий период удалось освоить обширный материал и добиться существенного улучшения качества танцевания) и дополнительными возможностями (балы, семинары, подготовка к конкурсам, занятия для опытных танцоров). Роберт - прекрасный преподаватель, внимательный, чрезвычайно деликатный и обаятельный. Эти качества в сочетании с профессионализмом позволили мне как ученице психологически расслабиться и в то же время побудили физически выкладываться на 100%. Плюс хорошая проработка отдельных деталей всех танцев дали свои плоды. Единственное пожелание к Роберту - это выбор залов в более удобных локациях (с точки зрения транспортной доступности). Рекомендую всем интересующимся бальными танцами посетить занятия у Роберта Трапша!
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Владимир Фокичев</p>
                                    <p class="review">
                                        Есть много школ бальных танцев. Есть много преподавателей, которые научат вас танцевать. Без сомнения, они обучат вас разным танцам и даже на высоком уровне.
                                        <br>
                                        Мне довелось познакомиться с преподавателем, который не просто учит танцевать. Он передает ученикам на занятиях не просто знания о шагах, движениях и цепочках. Роберт с первого занятия щедро делится своей Любовью к Танцу!
                                        <br>
                                        Да что там рассказывать - приходите и почувствуете это сами!
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Елена Тихонова</p>
                                    <p class="review">
                                        Танцы для меня- это воздух. А танцевальные занятия с прекрасным и талантливым педагогом, который каждого пришедшего на занятия человека заряжает позитивными эмоциями, стремлением танцевать и желанием двигаться и развиваться- это счастье) Спасибо большое Роберту за его занятия.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Ольга Тихонова</p>
                                    <p class="review">
                                        Спасибо большое Роберту за возможность почувствовать себя прекрасной дамой 19 века, исполняя танцы Отечественной бальной программы. Всегда мечтала попасть на бал, благодаря ему моя мечта стала реальностью. С нетерпением ждала каждое занятие, чтобы вновь и вновь погрузиться в танец под звуки вальса, фокстрота, квикстепа, румбы, ча-ча-ча, танго под руководством чуткого, внимательного и талантливого преподавателя.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Дмитрий Бауров</p>
                                    <p class="review">
                                        Роберт является страстным профессионалом своего дела. Он по-настоящему горит танцами, он находит подход к любому человеку, поэтому каким бы ни был ваш уровень подготовки вы не уйдете с занятия с чувством неудовлетворения, тк Роберт находит подход и помогает каждому, кто хочет научиться.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Александр Яковлев</p>
                                    <p class="review">
                                        Мне все нравится :) Учитывая, что у нас разношерстная группа по уровню, он умело ведет занятие чтобы было интересно всем :) А еще его шутки))) У него особый стиль юмора, это забавно :)
                                        <br>
                                        На занятиях отличная атмосфера :)
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Валерия Марач</p>
                                    <p class="review">
                                        Приходилось ли Вам когда-нибудь в хмурый, дождливый день выйти в цветущий сад? Сад - маленький, прекрасный мир. Где вместо меланхолического каждодневного запаха повседневности ты вдыхаешь дурманящий аромат цветов.
                                        <br>
                                        Для меня занятия у Роберта сравнимы с этими ощущениями. Прекрасный преподаватель, создающий уютную атмосферу на протяжении всего занятия. Он создал свой маленький мир, в который так приятно заглянуть и на какое-то время стать его частью.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Анна Ланская</p>
                                    <p class="review">
                                        Необъятный мир бального танца открывается на занятиях у Роберта. Его удивительный подход к каждому ученику, доброжелательность и креативность делают обучение простым и комфортным. Харизма, отменное чувство юмора, жизнерадостность, коими несомненно обладает наш талантливый преподаватель, создают особую, неповторимую атмосферу. Своим ярким примером, невероятной энергией и энтузиазмом Роберт вдохновляет совершенствоваться в танце. И каждое воскресное занятие ожидается, будто праздник, чтобы, окунувшись в безбрежный океан танцевальной жизни, всю следующую неделю прибывать в самом лучшем расположении духа!)
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Анна Подилова</p>
                                    <p class="review">
                                        Роберт Робертович - удивительный человек, замечательный преподаватель! Он настолько по-новому открыл для меня мир танцев, что теперь я не представляю жизни без них.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Елена Малыгина</p>
                                    <p class="review">
                                        Спасибо большое Роберту за индивидуальный подход к каждой паре и за создание уютной атмосферы, в которой все с легкостью раскрепощаются и перемещаются в мир танца. Но еще хочется сказать отдельное спасибо за организацию балов, которые отличаются разнообразием мероприятий. Бал становится невероятным событием, где есть место танцам не только со своим партнером, но и с другими участниками, а также игры, соревнования, знакомства, беседы. Думаю каждая девушка здесь представляет себя Наташей Ростовой, а кавалеры становятся Андреем Болконским.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Анна Головина</p>
                                    <p class="review">
                                        Благодаря Роберту я смогла поверить в свои силы, что у меня все получится, пусть и не сразу, но обязательно! Искренне благодарна ему за атмосферу и тепло на занятиях, за внимание каждому, за юмор и легкость. Благодаря ему у меня появилась возможность изучать и танцевать свои любимые бальные танцы!
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Анастасия</p>
                                    <p class="review">
                                        Когда я узнала, что в моем университете открывается набор в школу бальных танцев, я не придала этому особого значения, в голове лишь мелькнула мысль, что неплохо было бы чем-то заняться помимо учебы, так, для общего развития, почему бы не попробовать бальные танцы. С тех пор прошло два года, и я теперь не представляю, каким человеком я бы сейчас была, если бы не занималась бальными танцами. Мало кто задумывается об истинной культуре танца, о том, что это не просто движения, а как минимум движения в паре. И эти движения требуют от тебя не просто работы над собой, а еще внимательности к партнеру. Бальные танцы научили меня не просто техническим навыкам и новым разнообразным движениям, но еще и терпению, взаимопониманию и поддержке, ведь каждый раз ты взаимодействуешь с партнером и окружающими тебя парами, а это достаточно сильно помогает развивать себя с социальной точки зрения. Мне стало как-то легче с людьми общаться после того, как я начала заниматься бальными танцами. Более того, атмосфера, которую создает преподаватель на занятиях, настраивает тебя положительно и вдохновляет на развитие как физическое, так и духовное. Программа отечественных бальных танцев, построенная на классической хореографии, европейская программа с ее неповторимой элегантностью и зажигательная латино - американская программа - все это гармонично сплелось в методике преподавания Роберта. Ты учишься чувствовать величие Классики, сдержанность Европы, и неповторимую чувственность Латинской Америки. Не удивительно, что в процессе тренировок ты начинаешь чувствовать свое тело и прибавлять уверенность в себе не только в танцах, но и в повседневной жизни. Спасибо большое преподавателю Школы Бальных Танцев Андеор! Занятия с Вами подарили не только невероятные эмоции и новый жизненный опыт, но и новых друзей!
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Евгения Сальникова</p>
                                    <p class="review">
                                        Вот уже третий год я посещаю школу бальных танцев под руководством Роберта Трапша. За это время мы изучили более сорока танцев отечественной , европейской и латиноамериканской программы, посетили множество танцевальных вечеров и конкурсов. Роберт замечательный специалист и преподаватель: он излагает материал в непринужденной и доступной форме, находит подход к каждому, а в конце занятия остается, чтобы разъяснить детали интересующимся или разобраться с возникшей проблемой, вопросом. На занятиях Роберта не заскучаешь, энергией заряжаешься от начала и до конца, но попотеть придется. Все-таки бальные танцы - это большой труд.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Наталья Попцова</p>
                                    <p class="review">
                                        Роберт Трапш - это преподаватель, который вкладывает силы и душу в любимое дело, что просто не может остаться не замеченным его учениками. Каждый танцор, каждая пара важна, ученики не обделены вниманием учителя. Подход, техника исполнения, настроение, демонстрация, подбор музыки, упражнений и цепочек, юмор, - все эти составляющие занятия вдохновляют на изучение танца с каждым занятием все больше, и возникает непреодолимое желание танцевать и оттачивать технику собственного исполнения.
                                        <br>
                                        Удовольствие от занятий и навыков, приобретенных в школе бальных танцев "Андеор", колоссальное.
                                        <br>
                                        Школа "Андеор" открывает возможность вступить в мир европейской, латиноамериканской и отечественной бальной программы, по достоинству оценить каждую, испытать яркие эмоции, переживая в себе характер того или иного танца, и разнообразить свой досуг посещением танцевальных вечеров и балов.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{ asset('img/Screenshot_2.png') }}" alt="..." class="img-responsive">
                                <div class="carousel-caption nomargin">
                                    <p class="banner-text-1" style="padding-top: 15%; white-space: nowrap">Ольга Послянова</p>
                                    <p class="review">
                                        Я с большим удовольствием посещаю занятия. Уютная атмосфера, созданная благодаря приветливому и дружелюбному коллективу и, конечно же, замечательному преподавателю, который вкладывает душу и энергию в нас, воодушевляя на дальнейшее развитие. Занятия наполнены не только разнообразными танцами, но и смешными моментами, общением и познавательными историями. Помимо плановых тренировок, есть возможность танцевать на различных мероприятиях, например, на балах, конкурсах, фестивалях и даже под открытым небом!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic3" role="button"
                           data-slide="prev">
                            <img src="{{ asset('img/slider_left_arrow.png') }}" class="arrow-in-slider">
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic3" role="button"
                           data-slide="next">
                            <img src="{{ asset('img/slider_right_arrow.png') }}" class="arrow-in-slider">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}