<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Андеор</title>
    <meta name="keywords" content="Андеор">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('img/favicon.ico') }}">
</head>

<body>
<div class="container main-menu">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="{{ asset('img/Logo.png') }}" class="img-responsive logo">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle menu" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false"> О НАС </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="menu" data-target=".link-program">ПРОГРАММА</a></li>
                            <li><a href="#" class="menu" data-target=".link-robert">ПРЕПОДАВАТЕЛЬ</a></li>
                            <li><a href="#" class="menu" data-target=".link-andeor">АНДЕОР</a></li>
                            <li><a href="#" class="menu" data-target=".link-reviews">ОТЗЫВЫ</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="menu" data-target=".link-schedule">РАСПИСАНИЕ</a></li>
                    <li><a href="https://vk.com/socialballet" class="menu" target="_blank">МАТЕРИАЛЫ</a></li>
                    <li><a href="#" class="menu" data-target=".link-news">НОВОСТИ</a></li>
                    <li><a href="#" class="menu" data-target=".link-contacts">КОНТАКТЫ</a></li>
                    <li class="no-color">
                        <div class="phone">+ 7 (962) 728-09-21</div>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

{% block body %}

{% endblock %}

<hr class="footer-separator">

<div class="footer link-contacts">
    <div class="container" style="position: relative; left: 15px">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                    <h4 class="footer">Контакты</h4>
                    <p class="contacts">+7 (962) 728-09-21</p>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="contacts">Санкт-Петербург, Московский проспект, дом 13</p>
                            <img src="{{ asset('img/map.jpg') }}" width="100%" style="padding: 16px 0 16px 0">
                        </div>
                        <div class="col-md-6">
                            <p class="contacts">Санкт-Петербург, улица Чапаева, дом 17</p>
                            <img src="{{ asset('img/map2.jpg') }}" width="100%" style="padding: 16px 0 16px 0">
                            {#<div class="contact-map" style="padding: 16px 0 16px 0">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d999.7943299958406!2d30.315074818377212!3d59.922373798192496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631e5c6761e3f%3A0xec83f97c4d22be67!2z0JDQvdC00LXQvtGA!5e0!3m2!1sru!2sru!4v1536696170487" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>#}
                        </div>
                    </div>

            </div>
            <div class="col-md-12 col-sm-12">
                <a href="https://www.instagram.com/roberttrapsh/" target="_blank"><img src="{{ asset('img/instagram.png') }}" class="img-responcive inline opacity"></a>
                <a href="https://vk.com/socialballet" target="_blank"><img src="{{ asset('img/vk.png') }}" class="img-responcive inline opacity"></a>
                <a href="https://www.youtube.com/channel/UCDxyrnl4E1CYcAFzk3nCr2Q" target="_blank"><img src="{{ asset('img/youtube.png') }}" class="img-responcive inline opacity"></a>
            </div>

            {#<div class="col-md-6 col-sm-12">
                <h4 class="footer">Обратная связь</h4>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6" style="padding-right: 2px">
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="col-md-6" style="padding-left: 2px">
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>
                </div>
                <div class="row margin-top-5">
                    <div class="col-md-12">
                        {{ form_widget(form.text) }}
                        {{ form_errors(form.text) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-9 col-md-3 text-right margin-top-5">
                        <button style="right: 18px;position: relative;">Отправить</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>#}
        </div>
        <div class="row" style="position: absolute; bottom: 0">

        </div>
    </div>
</div>

{% block js %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('js/jquery.scrollTo.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            {% set bagKeys = [
            constant('AppBundle\\Service\\FlashBag::INLINE_ERROR'),
            constant('AppBundle\\Service\\FlashBag::INLINE_WARNING'),
            constant('AppBundle\\Service\\FlashBag::INLINE_INFO'),
            constant('AppBundle\\Service\\FlashBag::INLINE_SUCCESS')
            ] %}
            {% set bagClasses  = ['danger', 'warning', 'info', 'success'] %}
            {% for key, bagKey in bagKeys %}
            {% for message in app.session.flashBag.get(bagKey) %}
            $.notify({
                message: "{{ message | raw }}"
            }, {
                type: "{{ bagClasses[key] }}"
            });
            {% endfor %}
            {% endfor %}

            $('#btn-1').click(function () {
                var $item = $('#programm');
                if ($item.is(':visible')) {
                    $item.slideUp();
                } else {
                    $item.slideDown();
                }
            });
            $('#btn-2').click(function () {
                var $item = $('#raspisanie');
                if ($item.is(':visible')) {
                    $item.slideUp();
                } else {
                    $item.slideDown();
                }
            });

            $('ul.nav li').click(function() {
                var target = $(this).find('a.menu').data('target');
                if (target) {
                    if (target == '.link-program') {
                        var $item = $('#programm');
                        if (!$item.is(':visible')) {
                            $item.slideDown();
                        }
                    } else if (target == '.link-schedule') {
                        var $item = $('#raspisanie');
                        if (!$item.is(':visible')) {
                            $item.slideDown();
                        }
                    }
                    $(window).scrollTo(target, 300);

                    return false;
                }
            });

            $('.carousel-inner-multiple .item').each(function(){
                var next = $(this).next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));

                if (next.next().length>0) {
                    next.next().children(':first-child').clone().appendTo($(this));
                }
                else {
                    $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
                }
            });

            $('.carousel-button').click(function() {
                $('.carousel-button').removeClass('selected');
                $(this).addClass('selected');
            });

            if ($('form .alert').is(':visible')) {
                $(window).scrollTo('.link-contacts');
            }
        });
    </script>
{% endblock %}

</body>
</html>